/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

body{
  font-family: 'Libre Baskerville', serif;
}

/******************************************
/* LAYOUT
/*******************************************/
.dealer, .user, .hand, .topline, footer{
  display: flex;
  justify-content: center;
}

.hand{
  height: 350px;
  width: 300px;
  justify-items: center;
}
footer{
  justify-content: space-evenly;
}

#tableRules, .userActions{
  text-align: center;
}

img{
  margin: 0;
  height: 300px;
  position: fixed;
}

#cardOne, #botCardOne{
  transform: translate(-10px);
}
#cardTwo, #botCardTwo{
  transform: translate(20px)
}
#card3, #botCard3{
  transform: translate(50px)
}
#card4, #botCard4{
  transform: translate(80px)
}
#card5, #botCard5{
  transform: translate(110px)
}
#card6, #botCard6{
  transform: translate(140px)
}
#card7, #botCard7{
  transform: translate(170px)
} 

.result{
  position: fixed;
  transform: translate(500px)
}

.userScore, .dealerScore{
  position: fixed;
  transform: translate(350px)
}
.wagered{
  position: fixed;
  transform: translate(320px)
}

.hidden{
  display: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  background: green;
}