/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
.dealer, .user, .hand, .topline, footer{
  display: flex;
  justify-content: center;
  
}

.hand{
  height: 300px;
}
footer{
  justify-content: space-evenly;
}

#tableRules, .userActions{
  text-align: center;
}

img{
  margin: 0;
  height: 300px;
}

.hidden{
  display: none;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

body {
  background: green;
}